body{
    background-color: #111;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);
    width: 70%;
    height: 70%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    max-width: 500px;
    margin: auto;
}
section{
    margin: auto;
}
/*#calc{
    position: absolute;
    background-color: #f3f7ec;
    width: 40%;
    height: 100px;
    border-radius: 10px;
    border-color: black;
    left: 30%;
    right: 30%;
    top: 25%;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);

}*/
button{
    position: absolute;
    background-color: red;
    color: white;
    width: 40%;
    height: 5%;
    top: 50%;
    left: 30%;
    right: 30%;
    font-weight: bold;
    border-radius: 7px;
    border-color: red;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,.5);
}
input{
    font-family: "Poppins", sans-serif;
    position:absolute;
    width: 25%;
    height: 50%;
    border-radius: 7px;
    top: 25%;
    left: 5%;
    padding: 0 20px;
    font-size: 14px;
    background-color: #e88d67;
    color: white;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,.5);
    border-color: #e88d67;
}
#year{
    position: absolute;
    background-color: #f3f7ec;
    width: 8%;
    border-radius: 10px;
    border-color: black;
    left: 30%;
    top: 63%;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);

}
#month{
    position: absolute;
    background-color: #f3f7ec;
    width: 8%;
    border-radius: 10px;
    border-color: black;
    left: 46%;
    top: 63%;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);

}
#day{
    position: absolute;
    background-color: #f3f7ec;
    width: 8%;
    border-radius: 10px;
    left: 62%;
    top: 63%;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);
}
p{
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif; 
}
h3{
    color: red;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
#day_num{
    position: absolute;
    color: black;
    background-color: white;
    border-color: red;
    width: 4.5%;
    height: 5%;
    left: 30%;
    top: 35%;
}

#mon_num{
    color: black;
    background-color: white;
    border-color: red;
    width: 4.5%;
    height: 5%;
    left: 46%;
    top: 35%;
}

#year_num{
    color: black;
    background-color: white;
    border-color: red;
    width: 4.5%;
    height: 5%;
    left:62%;
    top: 35%;
}

#D{
    position: absolute;
    left: 32%;
    top: 20%;
    color: white;
    font-size: 180%;
    font-style: normal;
    font-weight: bold;
}

#M{
    position: absolute;
    left: 46.5%;
    top: 20%;
    color: white;
    font-size: 180%;
    font-style: normal;
    font-weight: bold;
    
}

#Y{
    position: absolute;
    left: 63%;
    top: 20%;
    color: white;
    font-size: 180%;
    font-style: normal;
    font-weight: bold;
}

@media (max-width:950px){
    .container{
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 85%;
    }
    button{

        width:59%;
        height: 5%;
        top: 51%;
        left: 23%;
 
    }
    #year{
        width: 15.5%;
        height: 15%;
        left: 23%;
        top: 63%;
    }
    #month{
        width: 15.5%;
        height: 15%;
        left: 45%;
        top: 63%;
    }
    #day{
        width: 15.5%;
        height: 15%;
        left: 66%;
        top: 63%;
    }

    #day_num{
        width: 7%;
        height: 5%;
        left: 23%;
        top: 38%;
    }
    
    #mon_num{
        width: 7%;
        height: 5%;
        left: 44.5%;
        top: 38%;
    }
    
    #year_num{
        width: 7%;
        height: 5%;
        left:66%;
        top: 38%;
    }
    
    #D{
        left: 27%;
        top: 25%;
        font-size: 120%;
    }
    
    #M{
        left: 46%;
        top: 25%;
        font-size: 120%;
    }
    
    #Y{
        left: 68.5%;
        top: 25%;
        font-size: 125%;
    }
}
